/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
}

/* Basic Stuff */
* {
  background-color: #fff;
  color: #222222;
  font-size: 13px;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

/* top part */
#container-top {
  display: inline;
  width: 100%;
}

a {
  text-decoration: none;
}

#logo {
  display: inline;
}

#logo img {
  height: 30px;
  margin: 25px 18px 0px 18px;
}

#searchbar {
  display: inline;
  position: relative;
  top: -10px;
  margin: 18px;
  width: 750px;
}

#searchbar input {
  display: inline-block;
  width: 35%;
  font-size: 16px;
  padding: 0.6em;
  border: solid 1px #22222225;
  border-radius: 100px;
}
input:focus {
  outline-width: 0;
}

#top-right {
  display: inline;
  position: relative;
  margin: 18px;
  height: 85px;
  left: 850px;
  bottom: 10px;
}

#top-right img {
  position: relative;
  top: 5px;
}

#top-right img:hover {
  cursor: pointer;
}

#top-right a {
  background-color: cornflowerblue;
  margin: 20px 30px 15px 20px;
  padding: 10px 13px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 13px;
  border-radius: 5px;
}

#container-bottom {
  border-top: #22222225 solid 1px;
}

nav ul {
  margin: 10px 0 0 155px;
}

nav ul li {
  display: inline-block;
  padding-bottom: 10px;
}

nav ul li a {
  color: #22222299;
  font-size: 1.1em;
  margin: 0 12px;
}

nav ul li:nth-child(7) {
  margin-left: 165px;
}
nav ul .selected {
  color: cornflowerblue;
  border-bottom: solid cornflowerblue 3px;
  border-radius: 2px;
}

.blue {
  color: cornflowerblue;
}

/* Search Results */

#search-stats {
  padding: 8px;
}

h3 a {
  font-size: 18px;
  font-weight: normal;
  color: #1a0dab;
}

#search-results {
  width: 37%;
  margin-left: 158px;
}

.result {
  padding: 8px 12px;
}

.result cite {
  color: #006621;
  font-style: normal;
}

.result span {
  display: block;
  color: #545454;
}

.result #date-visited {
  color: #777777;
}

#people-also {
  border: solid 1px #22222225;
  border-radius: 8px;
}

#people-also div {
  padding: 4px 8px;
  background: none;
  color: #222222;
  font-size: 18px;
  border-top: solid 1px #22222225;
}

#people-also div:first-child {
  font-size: 20px;
  color: #808080;
  border-top: none;
}

/* Video Result */

.video-results h3 {
  color: #222;
  font-size: 18px;
  font-weight: normal;
  padding: 10px;
  margin-top: 30px;
}

.video-results {
  height: 320px;
  margin-bottom: 50px;
}

.vid {
  display: inline-block;
  width: 215px;
  height: ;
  border: solid 1px #22222225;
  border-radius: 8px;
  margin-right: 10px;
}

.video-results .vid:nth-child(3) .vid-desc {
  margin-top: 24px;
}

.thumbnail,
.vid-date {
  background: none;
}

.thumbnail img {
  width: 215px;
}

.vid-title {
  padding: 10px;
  color: #1a0dab;
  font-size: 16px;
  padding-bottom: 30px;
}

.vid-desc {
  padding-left: 10px;
  font-size: 13px;
  color: #808080;
}

.vid-date {
  padding-left: 10px;
  font-size: 12px;
  color: #808080;
  padding-bottom: 10px;
}

.vid-date span {
  color: #006621;
}

/* Filler */
p {
  margin-top: 100px;
  margin-bottom: 400px;
}
