/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1;
}

/* Basic Stuff */
* {
  background-color: #fff;
  color: #222222;
  font-size: 13px;
  line-height: 1.5;
}

/* top part */
#container-top {
  display: inline;
  width: 100%;
}

#logo {
  display: inline;
}

#logo img {
  height: 30px;
  margin: 25px 18px 0px 18px;
}

#searchbar {
  display: inline;
  position: relative;
  top: -10px;
  margin: 18px;
  width: 750px;
}

#searchbar input {
  display: inline-block;
  width: 30%;
  font-size: 16px;
  padding: 0.6em;
  border: solid 1px #22222225;
  border-radius: 100px;
}
input:focus {
  outline-width: 0;
}

#top-right {
  display: inline;
  position: relative;
  margin: 18px;
  height: 85px;
  left: 975px;
  bottom: 10px;
}

#top-right img {
  position: relative;
  top: 5px;
}

#top-right span {
  background-color: cornflowerblue;
  margin: 20px 20px 15px 20px;
  padding: 10px 13px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15;
  border-radius: 5px;
}

#bottom-half {
  border-top: #22222225 solid 1px;
}
